openapi: 3.0.3
info:
  title: xylex.cloud
  version: 1.0.0
  contact: {}
servers:
  - url: https://xylex.cloud
  - url: https://api.xylex.cloud
paths:
  /api/projects/redeploy:
    post:
      tags:
        - Projects API
      summary: Redeploy project
      description: Redeploy project
      operationId: redeployProject
      parameters:
        - name: app_name
          in: query
          schema:
            type: string
            example: xylex.cloud
        - name: port
          in: query
          schema:
            type: string
            example: '3034'
        - name: app_dir
          in: query
          schema:
            type: string
            example: xylex.dev
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commit_id:
                  type: string
                  example: 7e0a3e4b49bcd6701e3dfd1efb41b7160b1cd5ec
                deploy_key:
                  type: string
                  example: dd066155-ce8b-48a8-9c40-8c46863f341c
            examples:
              Redeploy project:
                value:
                  commit_id: 7e0a3e4b49bcd6701e3dfd1efb41b7160b1cd5ec
                  deploy_key: dd066155-ce8b-48a8-9c40-8c46863f341c
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Sun, 12 Jan 2025 01:51:44 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    example: 0
                  data:
                    type: string
                    example: "HEAD is now at 4a56070c Refactor OrganizationSettings layout and remove unused imports\nAlready up to date.\n\nadded 983 packages, changed 160 packages, and audited 1144 packages in 21s\n\n231 packages are looking for funding\n  run `npm fund` for details\n\n1 moderate severity vulnerability\n\nTo address all issues, run:\n  npm audit fix\n\nRun `npm audit` for details.\n\n> app.xylex.ai@6.4.4 build\n> next build\n\n  ▲ Next.js 14.2.20\n  - Environments: .env.local\n  - Experiments (use with caution):\n    · missingSuspenseWithCSRBailout\n\n   Creating an optimized production build ...\n ✓ Compiled successfully\n   Skipping validation of types\n   Linting ...\n   Collecting page data ...\n   Generating static pages (0/71) ...\nemail \n   Generating static pages (17/71) \r\n   Generating static pages (35/71) \r\nwidth 240\n   Generating static pages (53/71) \r\n ✓ Generating static pages (71/71)\n   Finalizing page optimization ...\n   Collecting build traces ...\n\nRoute (app)                                  Size     First Load JS\n┌ ○ /                                        474 B           573 kB\n├ ○ /_not-found                              909 B          89.3 kB\n├ ƒ /[organization]                          24.1 kB         658 kB\n├ ƒ /[organization]/forums                   2.74 kB         577 kB\n├ ƒ /[organization]/forums/post/[post_id]    184 kB          777 kB\n├ ƒ /[organization]/settings                 32.7 kB         618 kB\n├ ƒ /[organization]/settings/authentication  505 B           589 kB\n├ ƒ /[organization]/settings/billing         3.82 kB         584 kB\n├ ƒ /[organization]/settings/integrations    2.32 kB         583 kB\n├ ƒ /[organization]/settings/invoices        13.6 kB         594 kB\n├ ƒ /[organization]/settings/members         5.22 kB         586 kB\n├ ƒ /[organization]/settings/notifications   1.08 kB         581 kB\n├ ƒ /[organization]/settings/security        1.08 kB         581 kB\n├ ƒ /[organization]/trade/[hash]             2.08 kB         635 kB\n├ ƒ /[organization]/trade/[hash]/admin       1.32 kB         634 kB\n├ ƒ /[organization]/trade/[hash]/chart       1 kB            690 kB\n├ ƒ /[organization]/trade/[hash]/thread      721 B           634 kB\n├ ƒ /[organization]/trade/[hash]/timeline    2.84 kB         636 kB\n├ ○ /account                                 3.76 kB         586 kB\n├ ○ /account/activity                        1.73 kB         575 kB\n├ ○ /account/settings                        469 B           589 kB\n├ ○ /account/settings/authentication         3.14 kB         597 kB\n├ ○ /account/settings/integrations           1.23 kB         582 kB\n├ ○ /account/settings/notifications          1.05 kB         581 kB\n├ ○ /admin                                   1.69 kB         582 kB\n├ ○ /admin/changelog                         1.12 kB         574 kB\n├ ○ /admin/email                             2.82 kB         576 kB\n├ ○ /admin/logs                              1.09 kB         574 kB\n├ ƒ /auth/confirm                            0 B                0 B\n├ ○ /dashboard                               4.02 kB         149 kB\n├ ○ /forgot-password                         1.56 kB         477 kB\n├ ○ /invoice                                 2.71 kB         576 kB\n├ ○ /login                                   1.68 kB         477 kB\n├ ○ /signup                                  4.99 kB         481 kB\n├ ○ /ui                                      2.35 kB         583 kB\n├ ○ /ui/account-management                   8.5 kB          909 kB\n├ ○ /ui/area-charts                          4.34 kB         904 kB\n├ ○ /ui/badges                               4.05 kB         904 kB\n├ ○ /ui/banners                              3.54 kB         904 kB\n├ ○ /ui/bar-charts                           17.2 kB         917 kB\n├ ○ /ui/bar-lists                            9.84 kB         922 kB\n├ ○ /ui/billing-usage                        6.99 kB         907 kB\n├ ○ /ui/card                                 8.13 kB         908 kB\n├ ○ /ui/chart-compositions                   930 B           928 kB\n├ ○ /ui/chart-tooltips                       4.65 kB         905 kB\n├ ○ /ui/data-maps                            2.76 kB         903 kB\n├ ○ /ui/dialogs                              5.39 kB         918 kB\n├ ○ /ui/donut-charts                         13.1 kB         913 kB\n├ ○ /ui/drag-drop                            19.5 kB         947 kB\n├ ○ /ui/empty-states                         6.02 kB         906 kB\n├ ○ /ui/file-upload                          9.19 kB         925 kB\n├ ○ /ui/form-layout                          138 kB         1.04 MB\n├ ○ /ui/grid-lists                           16.9 kB         917 kB\n├ ○ /ui/kpi                                  5.57 kB         906 kB\n├ ○ /ui/line-charts                          763 B           941 kB\n├ ○ /ui/logins                               5.7 kB          906 kB\n├ ○ /ui/page-shells                          4.28 kB         904 kB\n├ ○ /ui/playground                           2.92 kB         589 kB\n├ ○ /ui/pricing                              2.69 kB         903 kB\n├ ○ /ui/radio-group                          2.29 kB         902 kB\n├ ○ /ui/spark-charts                         5.95 kB         906 kB\n├ ○ /ui/status-monitoring                    2.04 kB         902 kB\n├ ○ /ui/table-actions                        6.93 kB         921 kB\n├ ○ /ui/tables                               7.04 kB         907 kB\n├ ○ /ui/templates/hds                        3.45 kB         584 kB\n├ ○ /ui/templates/usage                      5.81 kB         579 kB\n├ ○ /ui/timeline                             4.41 kB         904 kB\n└ ○ /ui/xylex-charts                         717 B           941 kB\n+ First Load JS shared by all                88.4 kB\n  ├ chunks/2117-06a75fb5e312a303.js          32 kB\n  ├ chunks/fd9d1056-634caafa03736a79.js      54 kB\n  └ other shared chunks (total)              2.4 kB\n\n\nƒ Middleware                                 57.9 kB\n\n○  (Static)   prerendered as static content\nƒ  (Dynamic)  server-rendered on demand\n\n[PM2] Applying action stopProcessId on app [app.xylex.ai](ids: [ 17, 65 ])\n[PM2] [app.xylex.ai](17) ✓\n[PM2] [app.xylex.ai](65) ✓\n⇆ PM2+ activated | Instance Name: xylex-compute-a1f2 | Dash: https://app.pm2.io/#/r/oyhz1e9v4xhherv\n┌────┬──────────────────────┬─────────────┬─────────┬─────────┬──────────┬────────┬──────┬───────────┬──────────┬──────────┬──────────┬──────────┐\n│ id │ name                 │ namespace   │ version │ mode    │ pid      │ uptime │ ↺    │ status    │ cpu      │ mem      │ user     │ watching │\n├────┼──────────────────────┼─────────────┼─────────┼─────────┼──────────┼────────┼──────┼───────────┼──────────┼──────────┼──────────┼──────────┤\n│ 64 │ app.hdsfinance.nl    │ default     │ N/A     │ fork    │ 518998   │ 39h    │ 0    │ online    │ 0%       │ 97.3mb   │ floris-… │ disabled │\n│ 17 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 0    │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 65 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 15   │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 21 │ ui.xylex.studio      │ default     │ N/A     │ fork    │ 2240801  │ 6D     │ 0    │ online    │ 0%       │ 97.4mb   │ floris-… │ disabled │\n└────┴──────────────────────┴─────────────┴─────────┴─────────┴──────────┴────────┴──────┴───────────┴──────────┴──────────┴──────────┴──────────┘\n[PM2][WARN] Current process list is not synchronized with saved list. Type 'pm2 save' to synchronize.\n[PM2] Starting /usr/bin/bash in fork_mode (1 instance)\n[PM2] Done.\n⇆ PM2+ activated | Instance Name: xylex-compute-a1f2 | Dash: https://app.pm2.io/#/r/oyhz1e9v4xhherv\n┌────┬──────────────────────┬─────────────┬─────────┬─────────┬──────────┬────────┬──────┬───────────┬──────────┬──────────┬──────────┬──────────┐\n│ id │ name                 │ namespace   │ version │ mode    │ pid      │ uptime │ ↺    │ status    │ cpu      │ mem      │ user     │ watching │\n├────┼──────────────────────┼─────────────┼─────────┼─────────┼──────────┼────────┼──────┼───────────┼──────────┼──────────┼──────────┼──────────┤\n│ 64 │ app.hdsfinance.nl    │ default     │ N/A     │ fork    │ 518998   │ 39h    │ 0    │ online    │ 0%       │ 97.3mb   │ floris-… │ disabled │\n│ 17 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 0    │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 65 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 15   │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 66 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 984649   │ 0s     │ 0    │ online    │ 0%       │ 760.0kb  │ floris-… │ disabled │\n│ 21 │ ui.xylex.studio      │ default     │ N/A     │ fork    │ 2240801  │ 6D     │ 0    │ online    │ 0%       │ 97.4mb   │ floris-… │ disabled │\n└────┴──────────────────────┴─────────────┴─────────┴─────────┴──────────┴────────┴──────┴───────────┴──────────┴──────────┴──────────┴──────────┘\n[PM2][WARN] Current process list is not synchronized with saved list. Type 'pm2 save' to synchronize.\n[PM2] Saving current process list...\n[PM2] Successfully saved in /home/floris-xlx/.pm2/dump.pm2"
                  stderr:
                    type: string
                    example: >-
                      From https://github.com/floris-xlx/app.xylex.ai
                       * branch              main       -> FETCH_HEAD
                      npm warn deprecated inflight@1.0.6: This module is not
                      supported, and leaks memory. Do not use it. Check out
                      lru-cache if you want a good and tested way to coalesce
                      async requests by a key value, which is much more
                      comprehensive and powerful.

                      npm warn deprecated @humanwhocodes/config-array@0.13.0:
                      Use @eslint/config-array instead

                      npm warn deprecated rimraf@3.0.2: Rimraf versions prior to
                      v4 are no longer supported

                      npm warn deprecated @humanwhocodes/object-schema@2.0.3:
                      Use @eslint/object-schema instead

                      npm warn deprecated glob@7.2.3: Glob versions prior to v9
                      are no longer supported

                      npm warn deprecated topojson@1.6.27: Use topojson-client,
                      topojson-server or topojson-simplify directly.

                      npm warn deprecated eslint@8.57.1: This version is no
                      longer supported. Please see
                      https://eslint.org/version-support for other options.
                       ⚠ Disabling SWC Minifer will not be an option in the next major version. Please report any issues you may be experiencing to https://github.com/vercel/next.js/issues

                      warn - The class `ease-[cubic-bezier(0.87,_0,_0.13,_1)]`
                      is ambiguous and matches multiple utilities.

                      warn - If this is content and not a class, replace it with
                      `ease-&lsqb;cubic-bezier(0.87,_0,_0.13,_1)&rsqb;` to
                      silence this warning.


                      warn - The `min-*` and `max-*` variants are not supported
                      with a `screens` configuration containing mixed units.

                      (node:984085) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984115) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984152) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984101) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984145) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984128) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984098) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984108) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984138) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)
                       ⚠ Entire page "/invoice" deopted into client-side rendering due to "useSearchParams()". Read more: https://nextjs.org/docs/messages/deopted-into-client-rendering
                          at o (/home/floris-xlx/app.xylex.ai/.next/server/chunks/4010.js:1:12420)
                          at c (/home/floris-xlx/app.xylex.ai/.next/server/chunks/4010.js:1:23656)
                          at y (/home/floris-xlx/app.xylex.ai/.next/server/app/invoice/page.js:1:17210)
                          at nj (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:46251)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47571)
                          at nN (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:64546)
                          at nI (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47010)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47717)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:61546)
                          at nN (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:64546)
                      (node:984130) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984140) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)
              examples:
                New Request:
                  value:
                    code: 0
                    data: "HEAD is now at 4a56070c Refactor OrganizationSettings layout and remove unused imports\nAlready up to date.\n\nadded 983 packages, changed 160 packages, and audited 1144 packages in 21s\n\n231 packages are looking for funding\n  run `npm fund` for details\n\n1 moderate severity vulnerability\n\nTo address all issues, run:\n  npm audit fix\n\nRun `npm audit` for details.\n\n> app.xylex.ai@6.4.4 build\n> next build\n\n  ▲ Next.js 14.2.20\n  - Environments: .env.local\n  - Experiments (use with caution):\n    · missingSuspenseWithCSRBailout\n\n   Creating an optimized production build ...\n ✓ Compiled successfully\n   Skipping validation of types\n   Linting ...\n   Collecting page data ...\n   Generating static pages (0/71) ...\nemail \n   Generating static pages (17/71) \r\n   Generating static pages (35/71) \r\nwidth 240\n   Generating static pages (53/71) \r\n ✓ Generating static pages (71/71)\n   Finalizing page optimization ...\n   Collecting build traces ...\n\nRoute (app)                                  Size     First Load JS\n┌ ○ /                                        474 B           573 kB\n├ ○ /_not-found                              909 B          89.3 kB\n├ ƒ /[organization]                          24.1 kB         658 kB\n├ ƒ /[organization]/forums                   2.74 kB         577 kB\n├ ƒ /[organization]/forums/post/[post_id]    184 kB          777 kB\n├ ƒ /[organization]/settings                 32.7 kB         618 kB\n├ ƒ /[organization]/settings/authentication  505 B           589 kB\n├ ƒ /[organization]/settings/billing         3.82 kB         584 kB\n├ ƒ /[organization]/settings/integrations    2.32 kB         583 kB\n├ ƒ /[organization]/settings/invoices        13.6 kB         594 kB\n├ ƒ /[organization]/settings/members         5.22 kB         586 kB\n├ ƒ /[organization]/settings/notifications   1.08 kB         581 kB\n├ ƒ /[organization]/settings/security        1.08 kB         581 kB\n├ ƒ /[organization]/trade/[hash]             2.08 kB         635 kB\n├ ƒ /[organization]/trade/[hash]/admin       1.32 kB         634 kB\n├ ƒ /[organization]/trade/[hash]/chart       1 kB            690 kB\n├ ƒ /[organization]/trade/[hash]/thread      721 B           634 kB\n├ ƒ /[organization]/trade/[hash]/timeline    2.84 kB         636 kB\n├ ○ /account                                 3.76 kB         586 kB\n├ ○ /account/activity                        1.73 kB         575 kB\n├ ○ /account/settings                        469 B           589 kB\n├ ○ /account/settings/authentication         3.14 kB         597 kB\n├ ○ /account/settings/integrations           1.23 kB         582 kB\n├ ○ /account/settings/notifications          1.05 kB         581 kB\n├ ○ /admin                                   1.69 kB         582 kB\n├ ○ /admin/changelog                         1.12 kB         574 kB\n├ ○ /admin/email                             2.82 kB         576 kB\n├ ○ /admin/logs                              1.09 kB         574 kB\n├ ƒ /auth/confirm                            0 B                0 B\n├ ○ /dashboard                               4.02 kB         149 kB\n├ ○ /forgot-password                         1.56 kB         477 kB\n├ ○ /invoice                                 2.71 kB         576 kB\n├ ○ /login                                   1.68 kB         477 kB\n├ ○ /signup                                  4.99 kB         481 kB\n├ ○ /ui                                      2.35 kB         583 kB\n├ ○ /ui/account-management                   8.5 kB          909 kB\n├ ○ /ui/area-charts                          4.34 kB         904 kB\n├ ○ /ui/badges                               4.05 kB         904 kB\n├ ○ /ui/banners                              3.54 kB         904 kB\n├ ○ /ui/bar-charts                           17.2 kB         917 kB\n├ ○ /ui/bar-lists                            9.84 kB         922 kB\n├ ○ /ui/billing-usage                        6.99 kB         907 kB\n├ ○ /ui/card                                 8.13 kB         908 kB\n├ ○ /ui/chart-compositions                   930 B           928 kB\n├ ○ /ui/chart-tooltips                       4.65 kB         905 kB\n├ ○ /ui/data-maps                            2.76 kB         903 kB\n├ ○ /ui/dialogs                              5.39 kB         918 kB\n├ ○ /ui/donut-charts                         13.1 kB         913 kB\n├ ○ /ui/drag-drop                            19.5 kB         947 kB\n├ ○ /ui/empty-states                         6.02 kB         906 kB\n├ ○ /ui/file-upload                          9.19 kB         925 kB\n├ ○ /ui/form-layout                          138 kB         1.04 MB\n├ ○ /ui/grid-lists                           16.9 kB         917 kB\n├ ○ /ui/kpi                                  5.57 kB         906 kB\n├ ○ /ui/line-charts                          763 B           941 kB\n├ ○ /ui/logins                               5.7 kB          906 kB\n├ ○ /ui/page-shells                          4.28 kB         904 kB\n├ ○ /ui/playground                           2.92 kB         589 kB\n├ ○ /ui/pricing                              2.69 kB         903 kB\n├ ○ /ui/radio-group                          2.29 kB         902 kB\n├ ○ /ui/spark-charts                         5.95 kB         906 kB\n├ ○ /ui/status-monitoring                    2.04 kB         902 kB\n├ ○ /ui/table-actions                        6.93 kB         921 kB\n├ ○ /ui/tables                               7.04 kB         907 kB\n├ ○ /ui/templates/hds                        3.45 kB         584 kB\n├ ○ /ui/templates/usage                      5.81 kB         579 kB\n├ ○ /ui/timeline                             4.41 kB         904 kB\n└ ○ /ui/xylex-charts                         717 B           941 kB\n+ First Load JS shared by all                88.4 kB\n  ├ chunks/2117-06a75fb5e312a303.js          32 kB\n  ├ chunks/fd9d1056-634caafa03736a79.js      54 kB\n  └ other shared chunks (total)              2.4 kB\n\n\nƒ Middleware                                 57.9 kB\n\n○  (Static)   prerendered as static content\nƒ  (Dynamic)  server-rendered on demand\n\n[PM2] Applying action stopProcessId on app [app.xylex.ai](ids: [ 17, 65 ])\n[PM2] [app.xylex.ai](17) ✓\n[PM2] [app.xylex.ai](65) ✓\n⇆ PM2+ activated | Instance Name: xylex-compute-a1f2 | Dash: https://app.pm2.io/#/r/oyhz1e9v4xhherv\n┌────┬──────────────────────┬─────────────┬─────────┬─────────┬──────────┬────────┬──────┬───────────┬──────────┬──────────┬──────────┬──────────┐\n│ id │ name                 │ namespace   │ version │ mode    │ pid      │ uptime │ ↺    │ status    │ cpu      │ mem      │ user     │ watching │\n├────┼──────────────────────┼─────────────┼─────────┼─────────┼──────────┼────────┼──────┼───────────┼──────────┼──────────┼──────────┼──────────┤\n│ 64 │ app.hdsfinance.nl    │ default     │ N/A     │ fork    │ 518998   │ 39h    │ 0    │ online    │ 0%       │ 97.3mb   │ floris-… │ disabled │\n│ 17 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 0    │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 65 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 15   │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 21 │ ui.xylex.studio      │ default     │ N/A     │ fork    │ 2240801  │ 6D     │ 0    │ online    │ 0%       │ 97.4mb   │ floris-… │ disabled │\n└────┴──────────────────────┴─────────────┴─────────┴─────────┴──────────┴────────┴──────┴───────────┴──────────┴──────────┴──────────┴──────────┘\n[PM2][WARN] Current process list is not synchronized with saved list. Type 'pm2 save' to synchronize.\n[PM2] Starting /usr/bin/bash in fork_mode (1 instance)\n[PM2] Done.\n⇆ PM2+ activated | Instance Name: xylex-compute-a1f2 | Dash: https://app.pm2.io/#/r/oyhz1e9v4xhherv\n┌────┬──────────────────────┬─────────────┬─────────┬─────────┬──────────┬────────┬──────┬───────────┬──────────┬──────────┬──────────┬──────────┐\n│ id │ name                 │ namespace   │ version │ mode    │ pid      │ uptime │ ↺    │ status    │ cpu      │ mem      │ user     │ watching │\n├────┼──────────────────────┼─────────────┼─────────┼─────────┼──────────┼────────┼──────┼───────────┼──────────┼──────────┼──────────┼──────────┤\n│ 64 │ app.hdsfinance.nl    │ default     │ N/A     │ fork    │ 518998   │ 39h    │ 0    │ online    │ 0%       │ 97.3mb   │ floris-… │ disabled │\n│ 17 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 0    │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 65 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 0        │ 0      │ 15   │ stopped   │ 0%       │ 0b       │ floris-… │ disabled │\n│ 66 │ app.xylex.ai         │ default     │ N/A     │ fork    │ 984649   │ 0s     │ 0    │ online    │ 0%       │ 760.0kb  │ floris-… │ disabled │\n│ 21 │ ui.xylex.studio      │ default     │ N/A     │ fork    │ 2240801  │ 6D     │ 0    │ online    │ 0%       │ 97.4mb   │ floris-… │ disabled │\n└────┴──────────────────────┴─────────────┴─────────┴─────────┴──────────┴────────┴──────┴───────────┴──────────┴──────────┴──────────┴──────────┘\n[PM2][WARN] Current process list is not synchronized with saved list. Type 'pm2 save' to synchronize.\n[PM2] Saving current process list...\n[PM2] Successfully saved in /home/floris-xlx/.pm2/dump.pm2"
                    stderr: >-
                      From https://github.com/floris-xlx/app.xylex.ai
                       * branch              main       -> FETCH_HEAD
                      npm warn deprecated inflight@1.0.6: This module is not
                      supported, and leaks memory. Do not use it. Check out
                      lru-cache if you want a good and tested way to coalesce
                      async requests by a key value, which is much more
                      comprehensive and powerful.

                      npm warn deprecated @humanwhocodes/config-array@0.13.0:
                      Use @eslint/config-array instead

                      npm warn deprecated rimraf@3.0.2: Rimraf versions prior to
                      v4 are no longer supported

                      npm warn deprecated @humanwhocodes/object-schema@2.0.3:
                      Use @eslint/object-schema instead

                      npm warn deprecated glob@7.2.3: Glob versions prior to v9
                      are no longer supported

                      npm warn deprecated topojson@1.6.27: Use topojson-client,
                      topojson-server or topojson-simplify directly.

                      npm warn deprecated eslint@8.57.1: This version is no
                      longer supported. Please see
                      https://eslint.org/version-support for other options.
                       ⚠ Disabling SWC Minifer will not be an option in the next major version. Please report any issues you may be experiencing to https://github.com/vercel/next.js/issues

                      warn - The class `ease-[cubic-bezier(0.87,_0,_0.13,_1)]`
                      is ambiguous and matches multiple utilities.

                      warn - If this is content and not a class, replace it with
                      `ease-&lsqb;cubic-bezier(0.87,_0,_0.13,_1)&rsqb;` to
                      silence this warning.


                      warn - The `min-*` and `max-*` variants are not supported
                      with a `screens` configuration containing mixed units.

                      (node:984085) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984115) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984152) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984101) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984145) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984128) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984098) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984108) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984138) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)
                       ⚠ Entire page "/invoice" deopted into client-side rendering due to "useSearchParams()". Read more: https://nextjs.org/docs/messages/deopted-into-client-rendering
                          at o (/home/floris-xlx/app.xylex.ai/.next/server/chunks/4010.js:1:12420)
                          at c (/home/floris-xlx/app.xylex.ai/.next/server/chunks/4010.js:1:23656)
                          at y (/home/floris-xlx/app.xylex.ai/.next/server/app/invoice/page.js:1:17210)
                          at nj (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:46251)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47571)
                          at nN (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:64546)
                          at nI (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47010)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:47717)
                          at nM (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:61546)
                          at nN (/home/floris-xlx/app.xylex.ai/node_modules/next/dist/compiled/next-server/app-page.runtime.prod.js:12:64546)
                      (node:984130) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)

                      (node:984140) [DEP0040] DeprecationWarning: The `punycode`
                      module is deprecated. Please use a userland alternative
                      instead.

                      (Use `node --trace-deprecation ...` to show where the
                      warning was created)
  /projects/metadata:
    get:
      tags:
        - Projects API
      summary: Project metadata
      description: Project metadata
      operationId: projectMetadata
      parameters:
        - name: project_id
          in: query
          schema:
            type: string
            example: 3db30088-ee49-4c8f-8d21-be4a26a0b8a2
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1381'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 15:50:29 GMT
            Server:
              schema:
                type: string
                example: nginx/1.24.0 (Ubuntu)
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        args:
                          type: array
                          items:
                            type: string
                            example: '-c pnpm run start -p 3034'
                          example:
                            - '-c pnpm run start -p 3034'
                        auto_deploy:
                          type: boolean
                          example: true
                        bucket_id:
                          type: string
                          example: do-sfo2
                        bucket_name:
                          type: string
                          example: xylex-dev
                        build_dir:
                          type: string
                          example: ./xylex.cloud
                        cpu:
                          type: number
                          example: 0
                        created_at:
                          type: string
                          example: '2025-01-24T07:33:44.905+00:00'
                        current_commit_id:
                          type: string
                          example: 1a7256a
                        databases:
                          type: object
                          properties:
                            postgres:
                              type: array
                              items: {}
                              example: []
                        deploy_key:
                          type: string
                          example: xxxxx
                        deployed_at:
                          nullable: true
                          example: null
                        dev_branch:
                          type: string
                          example: nightly
                        domain:
                          type: string
                          example: xylex.cloud
                        framework:
                          type: string
                          example: nextjs
                        global_api_key:
                          nullable: true
                          example: null
                        global_secret_token:
                          nullable: true
                          example: null
                        icon_url:
                          type: string
                          example: https://xylex.cloud/assets/xylex.png
                        id:
                          type: number
                          example: 1
                        last_update:
                          nullable: true
                          example: null
                        memory:
                          type: number
                          example: 97.8
                        organization_id:
                          type: string
                          example: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
                        pid:
                          type: number
                          example: 147
                        pm_app_name:
                          type: string
                          example: xylex.cloud
                        pm_err_log_path:
                          type: string
                          example: /home/floris-xlx/.pm2/logs/xylex.cloud-error.log
                        pm_id:
                          type: number
                          example: 147
                        pm_out_log_path:
                          type: string
                          example: /home/floris-xlx/.pm2/logs/xylex.cloud-out.log
                        pm_pid_path:
                          type: string
                          example: /home/floris-xlx/.pm2/pids/xylex.cloud-147.pid
                        port:
                          type: number
                          example: 3034
                        process_name:
                          type: string
                          example: xylex.cloud
                        prod_branch:
                          type: string
                          example: main
                        project_id:
                          type: string
                          example: xxxxxx
                        project_name:
                          type: string
                          example: xylex.cloud
                        project_url:
                          type: string
                          example: https://xylex.cloud/xylex/xylex.cloud
                        repository_name:
                          type: string
                          example: xylex.cloud
                        repository_url:
                          type: string
                          example: https://github.com/floris-xlx/xylex.cloud
                        status:
                          type: string
                          example: online
                        unique_id:
                          nullable: true
                          example: null
                        uptime:
                          nullable: true
                          example: null
                        username:
                          type: string
                          example: floris-xlx
                        website_url:
                          type: string
                          example: https://xylex.cloud
                        xbp_command:
                          type: string
                          example: >-
                            cd /home/floris-xlx/repos &&
                            ./redeploy_xylex.cloud.sh && exit
                    example:
                      - args:
                          - '-c pnpm run start -p 3034'
                        auto_deploy: true
                        bucket_id: do-sfo2
                        bucket_name: xylex-dev
                        build_dir: ./xylex.cloud
                        cpu: 0
                        created_at: '2025-01-24T07:33:44.905+00:00'
                        current_commit_id: 1a7256a
                        databases:
                          postgres: []
                        deploy_key: xxxxx
                        deployed_at: null
                        dev_branch: nightly
                        domain: xylex.cloud
                        framework: nextjs
                        global_api_key: null
                        global_secret_token: null
                        icon_url: https://xylex.cloud/assets/xylex.png
                        id: 1
                        last_update: null
                        memory: 97.8
                        organization_id: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
                        pid: 147
                        pm_app_name: xylex.cloud
                        pm_err_log_path: /home/floris-xlx/.pm2/logs/xylex.cloud-error.log
                        pm_id: 147
                        pm_out_log_path: /home/floris-xlx/.pm2/logs/xylex.cloud-out.log
                        pm_pid_path: /home/floris-xlx/.pm2/pids/xylex.cloud-147.pid
                        port: 3034
                        process_name: xylex.cloud
                        prod_branch: main
                        project_id: xxxxxx
                        project_name: xylex.cloud
                        project_url: https://xylex.cloud/xylex/xylex.cloud
                        repository_name: xylex.cloud
                        repository_url: https://github.com/floris-xlx/xylex.cloud
                        status: online
                        unique_id: null
                        uptime: null
                        username: floris-xlx
                        website_url: https://xylex.cloud
                        xbp_command: >-
                          cd /home/floris-xlx/repos && ./redeploy_xylex.cloud.sh
                          && exit
                  duration:
                    type: object
                    properties:
                      nanos:
                        type: number
                        example: 741999503
                      secs:
                        type: number
                        example: 0
                  status:
                    type: string
                    example: success
              examples:
                New Request:
                  value:
                    data:
                      - args:
                          - '-c pnpm run start -p 3034'
                        auto_deploy: true
                        bucket_id: do-sfo2
                        bucket_name: xylex-dev
                        build_dir: ./xylex.cloud
                        cpu: 0
                        created_at: '2025-01-24T07:33:44.905+00:00'
                        current_commit_id: 1a7256a
                        databases:
                          postgres: []
                        deploy_key: xxxxx
                        deployed_at: null
                        dev_branch: nightly
                        domain: xylex.cloud
                        framework: nextjs
                        global_api_key: null
                        global_secret_token: null
                        icon_url: https://xylex.cloud/assets/xylex.png
                        id: 1
                        last_update: null
                        memory: 97.8
                        organization_id: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
                        pid: 147
                        pm_app_name: xylex.cloud
                        pm_err_log_path: /home/floris-xlx/.pm2/logs/xylex.cloud-error.log
                        pm_id: 147
                        pm_out_log_path: /home/floris-xlx/.pm2/logs/xylex.cloud-out.log
                        pm_pid_path: /home/floris-xlx/.pm2/pids/xylex.cloud-147.pid
                        port: 3034
                        process_name: xylex.cloud
                        prod_branch: main
                        project_id: xxxxxx
                        project_name: xylex.cloud
                        project_url: https://xylex.cloud/xylex/xylex.cloud
                        repository_name: xylex.cloud
                        repository_url: https://github.com/floris-xlx/xylex.cloud
                        status: online
                        unique_id: null
                        uptime: null
                        username: floris-xlx
                        website_url: https://xylex.cloud
                        xbp_command: >-
                          cd /home/floris-xlx/repos && ./redeploy_xylex.cloud.sh
                          && exit
                    duration:
                      nanos: 741999503
                      secs: 0
                    status: success
  /api/domains:
    get:
      tags:
        - Domain API
      summary: domains
      description: domains
      operationId: domains
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            example: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Sun, 12 Jan 2025 12:30:36 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items: {}
                    example: []
              examples:
                New Request:
                  value:
                    domains: []
  /api/domains/dns:
    get:
      tags:
        - Domain API
      summary: domain DNS records
      description: domain DNS records
      operationId: domainDnsRecords
      parameters:
        - name: domain
          in: query
          schema:
            type: string
            example: suitsbooks.nl
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Sun, 12 Jan 2025 12:47:49 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: app.xylex.ai
                  is_wildcard:
                    type: boolean
                    example: true
                  records:
                    type: object
                    properties:
                      a:
                        type: array
                        items:
                          type: string
                          example: 65.109.36.32
                        example:
                          - 65.109.36.32
                      cname:
                        type: array
                        items: {}
                        example: []
                  tld:
                    type: string
                    example: ai
                  wildcard:
                    type: string
                    example: app
              examples:
                New Request:
                  value:
                    domain: app.xylex.ai
                    is_wildcard: true
                    records:
                      a:
                        - 65.109.36.32
                      cname: []
                    tld: ai
                    wildcard: app
  /api/domains/ping:
    get:
      tags:
        - Domain API
      summary: Ping domain
      description: Ping domain
      operationId: pingDomain
      parameters:
        - name: domain
          in: query
          schema:
            type: string
            example: app.xylex.ai
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Tue, 14 Jan 2025 03:09:25 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      details:
                        type: string
                        example: "\r\nPinging app.xylex.ai [65.109.36.32] with 32 bytes of data:\r\nReply from 65.109.36.32: bytes=32 time=35ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=34ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=36ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=36ms TTL=57\r\n\r\nPing statistics for 65.109.36.32:\r\n    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),\r\nApproximate round trip times in milli-seconds:\r\n    Minimum = 34ms, Maximum = 36ms, Average = 35ms\r\n"
                      result:
                        type: string
                        example: success
                  message:
                    type: string
                    example: Ping executed successfully
                  status:
                    type: string
                    example: success
                  success:
                    type: boolean
                    example: true
              examples:
                New Request:
                  value:
                    data:
                      details: "\r\nPinging app.xylex.ai [65.109.36.32] with 32 bytes of data:\r\nReply from 65.109.36.32: bytes=32 time=35ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=34ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=36ms TTL=57\r\nReply from 65.109.36.32: bytes=32 time=36ms TTL=57\r\n\r\nPing statistics for 65.109.36.32:\r\n    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),\r\nApproximate round trip times in milli-seconds:\r\n    Minimum = 34ms, Maximum = 36ms, Average = 35ms\r\n"
                      result: success
                    message: Ping executed successfully
                    status: success
                    success: true
  /xylex.cloud/api/domains/favicon:
    get:
      tags:
        - Domain API
      summary: Domain favicon
      description: Domain favicon
      operationId: domainFavicon
      parameters:
        - name: domain
          in: query
          schema:
            type: string
            example: https://suitsfinance.nl
      responses:
        '200':
          description: ''
  /api/domains/tld:
    get:
      tags:
        - Domain API
      summary: Validity TLD
      description: Validity TLD
      operationId: validityTld
      parameters:
        - name: domain
          in: query
          schema:
            type: string
            example: xylex.ai
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Sun, 12 Jan 2025 15:25:00 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                    example: xylex.ai
                  is_valid:
                    type: boolean
                    example: true
                  tld:
                    type: string
                    example: ai
              examples:
                New Request:
                  value:
                    domain: xylex.ai
                    is_valid: true
                    tld: ai
  /api/files/list:
    get:
      tags:
        - File API
      summary: Files list
      description: Files list
      operationId: filesList
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            example: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
        - name: project_id
          in: query
          schema:
            type: string
            example: '1'
        - name: list_root
          in: query
          schema:
            type: string
            example: 'true'
        - name: page_size
          in: query
          schema:
            type: string
            example: '20'
      responses:
        '200':
          description: New Request / Files list
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Thu, 16 Jan 2025 05:27:43 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            filename:
                              type: string
                              example: file.txt
                            lastModified:
                              type: string
                              example: '2025-01-16T05:22:34.001Z'
                            size:
                              type: number
                              example: 316459470
                            url:
                              type: string
                              example: >-
                                https://xylex-dev.ams3.digitaloceanspaces.com/file.txt
                        example:
                          - filename: file.txt
                            lastModified: '2025-01-16T05:22:34.001Z'
                            size: 316459470
                            url: >-
                              https://xylex-dev.ams3.digitaloceanspaces.com/file.txt
                          - filename: file2.txt
                            lastModified: '2025-01-16T05:27:30.446Z'
                            size: 353999265
                            url: >-
                              https://xylex-dev.ams3.digitaloceanspaces.com/file2.txt
                  message:
                    type: string
                    example: Files listed successfully
                  success:
                    type: boolean
                    example: true
              examples:
                Files list:
                  value:
                    data:
                      files:
                        - filename: file.mp4
                          lastModified: '2025-01-16T05:22:34.001Z'
                          size: 316459470
                          url: >-
                            https://xylex-dev.ams3.digitaloceanspaces.com/file.mp4
                        - filename: file2.mp4
                          lastModified: '2025-01-16T05:27:30.446Z'
                          size: 353999265
                          url: >-
                            https://xylex-dev.ams3.digitaloceanspaces.com/file2.mp4
                    message: Files listed successfully
                    success: true
                New Request:
                  value:
                    data:
                      files:
                        - filename: file.txt
                          lastModified: '2025-01-16T05:22:34.001Z'
                          size: 316459470
                          url: >-
                            https://xylex-dev.ams3.digitaloceanspaces.com/file.txt
                        - filename: file2.txt
                          lastModified: '2025-01-16T05:27:30.446Z'
                          size: 353999265
                          url: >-
                            https://xylex-dev.ams3.digitaloceanspaces.com/file2.txt
                    message: Files listed successfully
                    success: true
  /api/files/media/generate-thumbnail:
    get:
      tags:
        - File API
      summary: Media generate thumbnail
      description: Media generate thumbnail
      operationId: mediaGenerateThumbnail
      parameters:
        - name: mp4Url
          in: query
          schema:
            type: string
            example: https://xylex-dev.ams3.digitaloceanspaces.com/video.mp4
      responses:
        '200':
          description: ''
  /api/files/upload/jobs:
    get:
      tags:
        - File API
      summary: File upload jobs
      description: File upload jobs
      operationId: fileUploadJobs
      parameters:
        - name: id
          in: query
          schema:
            type: string
            example: '1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '1'
                progress:
                  type: number
                  example: 5
            examples:
              File upload jobs:
                value:
                  id: '1'
                  progress: 5
      responses:
        '200':
          description: Create job / Amend job progress / Query job id
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Thu, 16 Jan 2025 23:26:33 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  job:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      progress:
                        type: number
                        example: 5
                  success:
                    type: boolean
                    example: true
              examples:
                Amend job progress:
                  value:
                    job:
                      id: '1'
                      progress: 5
                    success: true
                Create job:
                  value:
                    job:
                      id: '1'
                      progress: 5
                    success: true
                Query job id:
                  value:
                    job:
                      id: '1'
                      progress: 5
                    success: true
        '404':
          description: Job not found
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Thu, 16 Jan 2025 23:27:29 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Job not found
                  success:
                    type: boolean
                    example: false
              examples:
                Job not found:
                  value:
                    error: Job not found
                    success: false
  /api/files/upload/url:
    post:
      tags:
        - File API
      summary: Upload file by Url
      description: Upload file by Url
      operationId: uploadFileByUrl
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            example: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
        - name: project_id
          in: query
          schema:
            type: string
            example: '1'
        - name: file_url
          in: query
          schema:
            type: string
            example: https://xylex.ams3.cdn.digitaloceanspaces.com/gais.mp4
      responses:
        '201':
          description: New Request / New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Thu, 16 Jan 2025 07:20:31 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      file:
                        type: object
                        properties:
                          filename:
                            type: string
                            example: gais.mp4
                          url:
                            type: string
                            example: >-
                              https://xylex-dev.ams3.digitaloceanspaces.com/gais.mp4
                  message:
                    type: string
                    example: File uploaded successfully
                  success:
                    type: boolean
                    example: true
              examples:
                New Request:
                  value:
                    data:
                      file:
                        filename: meow.mp4
                        url: https://xylex-dev.ams3.digitaloceanspaces.com/meow.mp4
                    message: File uploaded successfully
                    success: true
  /postgres/databases:
    get:
      tags:
        - Postgres API
      summary: List DBs by organization_id
      description: List DBs by organization_id
      operationId: listDbsByOrganizationId
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            example: xlx-o-ea5a1270-7b03-11ef-b14f-325096b39f47
      responses:
        '200':
          description: no dbs / 200
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1476'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 16:02:06 GMT
            Server:
              schema:
                type: string
                example: nginx/1.24.0 (Ubuntu)
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: {}
                    example: []
                  status:
                    type: string
                    example: success
              examples:
                '200':
                  value:
                    data:
                      - admin_email: floris@xylex.ai
                        anon_key: xxxxx
                        api_max_rows: 1000
                        backup: false
                        collate: null
                        connection_string: postgres://xxxxx:xxxxx@xxxxx.xxxxx.xxxxx/xxxxx
                        created_at: '2025-02-13T16:00:26.279857+00:00'
                        ctype: null
                        db_id: xxxxx-xxxxx-xxxxx-xxxxx-xxxxx
                        db_password: xxxxx
                        encoding: null
                        host: db.xylex.cloud
                        id: 0
                        jwt_key: xxxxx
                        jwt_secret: xxxxx
                        monitor_id: xxxxx-xxxxx-xxxxx-xxxxx-xxxxx
                        monitor_type: systemd_service
                        name: xylex_cloud
                        pg_owner: postgres
                        postgrest_config_file: /xxxxx.conf
                        postgrest_port: 0
                        postgrest_systemd_service_file: /xxxxx.service
                        postgrest_systemd_service_name: postgrest_xylex_cloud
                        postgrest_systemd_service_status: active
                        project_id: xxxxx
                        rest_endpoint: http://xxxxx
                        rest_endpoint_cached: null
                        size_bytes: null
                        slug: xylex_cloud
                        table_count: null
                        tables: null
                    status: success
                no dbs:
                  value:
                    data: []
                    status: success
  /postgres/query:
    post:
      tags:
        - Postgres API
      summary: Connector
      description: Connector
      operationId: connector
      parameters:
        - name: ''
          in: query
          schema:
            type: string
            example: xylex_cloud
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                db_name:
                  type: string
                  example: xylex_cloud
            examples:
              Connector:
                value:
                  db_name: xylex_cloud
      responses:
        '200':
          description: ''
  /postgres/tables:
    get:
      tags:
        - Postgres API
      summary: List tables
      description: List tables
      operationId: listTables
      parameters:
        - name: db_name
          in: query
          schema:
            type: string
            example: xylex_cloud
        - name: cache-control
          in: header
          schema:
            type: string
            example: no-cache
      responses:
        '200':
          description: 200 cache-control=any / 200 cache-control=no-cache
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '316'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 19:17:54 GMT
            Server:
              schema:
                type: string
                example: XYLEX/0
            Version:
              schema:
                type: string
                example: 0.2.41
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        columns:
                          type: array
                          items:
                            type: object
                            properties:
                              column_name:
                                type: string
                                example: id
                              data_type:
                                type: string
                                example: integer
                          example:
                            - column_name: id
                              data_type: integer
                            - column_name: name
                              data_type: text
                            - column_name: email
                              data_type: text
                            - column_name: password
                              data_type: text
                        table_name:
                          type: string
                          example: users
                    example:
                      - columns:
                          - column_name: id
                            data_type: integer
                          - column_name: name
                            data_type: text
                          - column_name: email
                            data_type: text
                          - column_name: password
                            data_type: text
                        table_name: users
                  db_name:
                    type: string
                    example: xylex_cloud
                  duration:
                    type: number
                    example: 243
                  message:
                    type: string
                    example: Successfully fetched tables
                  status:
                    type: string
                    example: success
              examples:
                200 cache-control=any:
                  value:
                    data:
                      - columns:
                          - column_name: id
                            data_type: integer
                          - column_name: name
                            data_type: text
                          - column_name: email
                            data_type: text
                          - column_name: password
                            data_type: text
                        table_name: users
                    db_name: xylex_cloud
                    duration: 243
                    message: Successfully fetched tables
                    status: success
                200 cache-control=no-cache:
                  value:
                    data:
                      - columns:
                          - column_name: id
                            data_type: integer
                          - column_name: name
                            data_type: text
                          - column_name: email
                            data_type: text
                          - column_name: password
                            data_type: text
                        table_name: users
                    db_name: xylex_cloud
                    duration: 81
                    message: Successfully fetched tables
                    status: success
        '400':
          description: '400'
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '48'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 18:55:19 GMT
            Server:
              schema:
                type: string
                example: XYLEX/0
            Version:
              schema:
                type: string
                example: 0.2.41
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            text/plain:
              examples:
                '400':
                  value: 'Query deserialize error: missing field `db_name`'
        '401':
          description: '401'
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '70'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 18:55:50 GMT
            Server:
              schema:
                type: string
                example: XYLEX/0
            Version:
              schema:
                type: string
                example: 0.2.41
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization header missing or invalid
                  status:
                    type: string
                    example: error
              examples:
                '401':
                  value:
                    message: Authorization header missing or invalid
                    status: error
        '500':
          description: '500'
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '150'
            Date:
              schema:
                type: string
                example: Thu, 13 Feb 2025 18:56:12 GMT
            Server:
              schema:
                type: string
                example: XYLEX/0
            Version:
              schema:
                type: string
                example: 0.2.41
            vary:
              schema:
                type: string
                example: >-
                  Origin, Access-Control-Request-Method,
                  Access-Control-Request-Headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: xxx
                  status:
                    type: string
                    example: error
              examples:
                '500':
                  value:
                    error: xxx
                    status: error
      security:
        - bearerAuth: []
  /api/servers/ipv4:
    get:
      tags:
        - Networking API
      summary: Ipv4 server existence
      description: Ipv4 server existence
      operationId: ipv4ServerExistence
      parameters:
        - name: ipv4
          in: query
          schema:
            type: string
            example: 85.223.31.226
      responses:
        '200':
          description: New Request
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Fri, 17 Jan 2025 19:04:13 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      ipv4:
                        type: string
                        example: 85.223.31.226
                  success:
                    type: boolean
                    example: true
              examples:
                New Request:
                  value:
                    data:
                      exists: true
                      ipv4: 85.223.31.226
                    success: true
  /api/network/ports:
    get:
      tags:
        - Networking API
      summary: Get all ports
      description: Get all ports
      operationId: getAllPorts
      parameters:
        - name: port
          in: query
          schema:
            type: string
            example: '3850'
        - name: protocol
          in: query
          schema:
            type: string
            example: tcp
      responses:
        '200':
          description: All ports / All TCP ports / All UDP ports / All TCP by port filter
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Mon, 13 Jan 2025 23:51:49 GMT
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: strict-origin-when-cross-origin
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            vary:
              schema:
                type: string
                example: RSC, Next-Router-State-Tree, Next-Router-Prefetch
          content:
            application/json:
              schema:
                type: object
                properties:
                  ports:
                    type: array
                    items:
                      type: object
                      properties:
                        local_address:
                          type: string
                          example: 127.0.0.53%lo:53
                        proto:
                          type: string
                          example: udp
                    example:
                      - local_address: 127.0.0.53%lo:53
                        proto: udp
                      - local_address: 0.0.0.0:25672
                        proto: tcp
                      - local_address: 127.0.0.1:8015
                        proto: tcp
                      - local_address: 127.0.0.1:8010
                        proto: tcp
                      - local_address: 127.0.0.1:8001
                        proto: tcp
                      - local_address: 127.0.0.1:8055
                        proto: tcp
                      - local_address: 127.0.0.1:8072
                        proto: tcp
                      - local_address: 127.0.0.1:8081
                        proto: tcp
                      - local_address: 0.0.0.0:19993
                        proto: tcp
                      - local_address: 0.0.0.0:8443
                        proto: tcp
                      - local_address: 0.0.0.0:8450
                        proto: tcp
                      - local_address: 0.0.0.0:5999
                        proto: tcp
                      - local_address: 0.0.0.0:5375
                        proto: tcp
                      - local_address: 0.0.0.0:5432
                        proto: tcp
                      - local_address: 0.0.0.0:5433
                        proto: tcp
                      - local_address: 0.0.0.0:6379
                        proto: tcp
                      - local_address: 0.0.0.0:6380
                        proto: tcp
                      - local_address: 127.0.0.53%lo:53
                        proto: tcp
                      - local_address: 0.0.0.0:8000
                        proto: tcp
                      - local_address: 0.0.0.0:8006
                        proto: tcp
                      - local_address: 0.0.0.0:8008
                        proto: tcp
                      - local_address: 0.0.0.0:8182
                        proto: tcp
                      - local_address: 0.0.0.0:8071
                        proto: tcp
                      - local_address: 0.0.0.0:7272
                        proto: tcp
                      - local_address: 0.0.0.0:80
                        proto: tcp
                      - local_address: 0.0.0.0:22
                        proto: tcp
                      - local_address: 0.0.0.0:443
                        proto: tcp
                      - local_address: 0.0.0.0:1935
                        proto: tcp
                      - local_address: 0.0.0.0:1212
                        proto: tcp
                      - local_address: 0.0.0.0:4000
                        proto: tcp
                      - local_address: 0.0.0.0:3398
                        proto: tcp
                      - local_address: '*:9015'
                        proto: tcp
                      - local_address: '*:9090'
                        proto: tcp
                      - local_address: '*:9096'
                        proto: tcp
                      - local_address: '*:9100'
                        proto: tcp
                      - local_address: '[::]:8450'
                        proto: tcp
                      - local_address: '*:4369'
                        proto: tcp
                      - local_address: '*:5672'
                        proto: tcp
                      - local_address: '[::]:5999'
                        proto: tcp
                      - local_address: '[::]:5432'
                        proto: tcp
                      - local_address: '[::]:5433'
                        proto: tcp
                      - local_address: '[::]:8000'
                        proto: tcp
                      - local_address: '[::]:8182'
                        proto: tcp
                      - local_address: '[::]:80'
                        proto: tcp
                      - local_address: '[::]:22'
                        proto: tcp
                      - local_address: '[::]:443'
                        proto: tcp
                      - local_address: '*:3027'
                        proto: tcp
                      - local_address: '*:3013'
                        proto: tcp
                      - local_address: '*:3019'
                        proto: tcp
                      - local_address: '*:3000'
                        proto: tcp
                      - local_address: '*:3005'
                        proto: tcp
                      - local_address: '[::]:4000'
                        proto: tcp
              examples:
                All TCP by port filter:
                  value:
                    ports:
                      - local_address: 127.0.0.1:8010
                        port: 8010
                        proto: tcp
                All TCP ports:
                  value:
                    ports:
                      - local_address: 0.0.0.0:25672
                        port: 25672
                        proto: tcp
                      - local_address: 127.0.0.1:8015
                        port: 8015
                        proto: tcp
                      - local_address: 127.0.0.1:8010
                        port: 8010
                        proto: tcp
                      - local_address: 127.0.0.1:8001
                        port: 8001
                        proto: tcp
                      - local_address: 127.0.0.1:8055
                        port: 8055
                        proto: tcp
                      - local_address: 127.0.0.1:8072
                        port: 8072
                        proto: tcp
                      - local_address: 127.0.0.1:8081
                        port: 8081
                        proto: tcp
                      - local_address: 0.0.0.0:19993
                        port: 19993
                        proto: tcp
                      - local_address: 0.0.0.0:8443
                        port: 8443
                        proto: tcp
                      - local_address: 0.0.0.0:8450
                        port: 8450
                        proto: tcp
                      - local_address: 0.0.0.0:5999
                        port: 5999
                        proto: tcp
                      - local_address: 0.0.0.0:5375
                        port: 5375
                        proto: tcp
                      - local_address: 0.0.0.0:5432
                        port: 5432
                        proto: tcp
                      - local_address: 0.0.0.0:5433
                        port: 5433
                        proto: tcp
                      - local_address: 0.0.0.0:6379
                        port: 6379
                        proto: tcp
                      - local_address: 0.0.0.0:6380
                        port: 6380
                        proto: tcp
                      - local_address: 127.0.0.53%lo:53
                        port: 53
                        proto: tcp
                      - local_address: 0.0.0.0:8000
                        port: 8000
                        proto: tcp
                      - local_address: 0.0.0.0:8006
                        port: 8006
                        proto: tcp
                      - local_address: 0.0.0.0:8008
                        port: 8008
                        proto: tcp
                      - local_address: 0.0.0.0:8182
                        port: 8182
                        proto: tcp
                      - local_address: 0.0.0.0:8071
                        port: 8071
                        proto: tcp
                      - local_address: 0.0.0.0:7272
                        port: 7272
                        proto: tcp
                      - local_address: 0.0.0.0:80
                        port: 80
                        proto: tcp
                      - local_address: 0.0.0.0:22
                        port: 22
                        proto: tcp
                      - local_address: 0.0.0.0:443
                        port: 443
                        proto: tcp
                      - local_address: 0.0.0.0:1935
                        port: 1935
                        proto: tcp
                      - local_address: 0.0.0.0:1212
                        port: 1212
                        proto: tcp
                      - local_address: 0.0.0.0:4000
                        port: 4000
                        proto: tcp
                      - local_address: 0.0.0.0:3398
                        port: 3398
                        proto: tcp
                      - local_address: '*:9015'
                        port: 9015
                        proto: tcp
                      - local_address: '*:9090'
                        port: 9090
                        proto: tcp
                      - local_address: '*:9096'
                        port: 9096
                        proto: tcp
                      - local_address: '*:9100'
                        port: 9100
                        proto: tcp
                      - local_address: '[::]:8450'
                        port: 8450
                        proto: tcp
                      - local_address: '*:4369'
                        port: 4369
                        proto: tcp
                      - local_address: '*:5672'
                        port: 5672
                        proto: tcp
                      - local_address: '[::]:5999'
                        port: 5999
                        proto: tcp
                      - local_address: '[::]:5432'
                        port: 5432
                        proto: tcp
                      - local_address: '[::]:5433'
                        port: 5433
                        proto: tcp
                      - local_address: '[::]:8000'
                        port: 8000
                        proto: tcp
                      - local_address: '[::]:8182'
                        port: 8182
                        proto: tcp
                      - local_address: '[::]:80'
                        port: 80
                        proto: tcp
                      - local_address: '[::]:22'
                        port: 22
                        proto: tcp
                      - local_address: '[::]:443'
                        port: 443
                        proto: tcp
                      - local_address: '*:3027'
                        port: 3027
                        proto: tcp
                      - local_address: '*:3013'
                        port: 3013
                        proto: tcp
                      - local_address: '*:3019'
                        port: 3019
                        proto: tcp
                      - local_address: '*:3000'
                        port: 3000
                        proto: tcp
                      - local_address: '*:3005'
                        port: 3005
                        proto: tcp
                      - local_address: '[::]:4000'
                        port: 4000
                        proto: tcp
                All UDP ports:
                  value:
                    ports:
                      - local_address: 127.0.0.53%lo:53
                        port: 53
                        proto: udp
                All ports:
                  value:
                    ports:
                      - local_address: 127.0.0.53%lo:53
                        proto: udp
                      - local_address: 0.0.0.0:25672
                        proto: tcp
                      - local_address: 127.0.0.1:8015
                        proto: tcp
                      - local_address: 127.0.0.1:8010
                        proto: tcp
                      - local_address: 127.0.0.1:8001
                        proto: tcp
                      - local_address: 127.0.0.1:8055
                        proto: tcp
                      - local_address: 127.0.0.1:8072
                        proto: tcp
                      - local_address: 127.0.0.1:8081
                        proto: tcp
                      - local_address: 0.0.0.0:19993
                        proto: tcp
                      - local_address: 0.0.0.0:8443
                        proto: tcp
                      - local_address: 0.0.0.0:8450
                        proto: tcp
                      - local_address: 0.0.0.0:5999
                        proto: tcp
                      - local_address: 0.0.0.0:5375
                        proto: tcp
                      - local_address: 0.0.0.0:5432
                        proto: tcp
                      - local_address: 0.0.0.0:5433
                        proto: tcp
                      - local_address: 0.0.0.0:6379
                        proto: tcp
                      - local_address: 0.0.0.0:6380
                        proto: tcp
                      - local_address: 127.0.0.53%lo:53
                        proto: tcp
[...]
